{% extends 'customer_survey_app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="main-layout-bg">
    <!--    Toast Messages-->
    <div id="content">
        {% include 'customer_survey_app/messages.html' %}
    </div>

    <!--    Log Out-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'logout' %}" class="btn btn-primary log-out-btn" type="button">log out</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="loyalty-membership">

                    <div class="loyalty-title-flex">
                        <div class="title-box">
                            <h3>loyalty club membership form</h3>
                        </div>
                        <div class="logo-box">
                            <img src="{% static 'icon-images/rise.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="progress-main">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>Are You Pleased with the service you received?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <!-- Bind Value in Style-->
                                            <!-- <div class="profile-cover" style="background: url('{{ cover }}')">-->
                                            <div class="progress-bar" role="progressbar" style="width: {{ question_1_true }}"
                                                 aria-valuenow="{{ question_1_true }}" aria-valuemin="0" aria-valuemax="100">Yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{ question_1_true }}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{ question_1_false }}"
                                                 aria-valuenow="{{ question_1_false }}" aria-valuemin="0" aria-valuemax="100">No
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{ question_1_false }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Was your overall experience on-time & pleasant?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_5_true}}"
                                                 aria-valuenow="{{question_5_true}}" aria-valuemin="0" aria-valuemax="100">Yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_5_true}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_5_false}}"
                                                 aria-valuenow="{{question_5_false}}" aria-valuemin="0" aria-valuemax="100">No
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_5_false}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>I would recommend RISE to my friends & family</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_4_true}}"
                                                 aria-valuenow="{{question_4_true}}" aria-valuemin="0" aria-valuemax="100">Yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_4_true}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_4_false}}"
                                                 aria-valuenow="{{question_4_false}}" aria-valuemin="0" aria-valuemax="100">No
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_4_false}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>Are you satisfied with the products?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_3_slightly}}"
                                                 aria-valuenow="{{question_3_slightly}}" aria-valuemin="0" aria-valuemax="100">Slightly
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_3_slightly}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_3_moderate}}"
                                                 aria-valuenow="{{question_3_moderate}}" aria-valuemin="0" aria-valuemax="100">Moderate
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_3_moderate}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_3_strongly}}"
                                                 aria-valuenow="{{question_3_strongly}}" aria-valuemin="0" aria-valuemax="100">Strongly
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_3_strongly}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>Our Sales Associates Was . . .</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_2_friendly}}"
                                                 aria-valuenow="{{question_2_friendly}}" aria-valuemin="0" aria-valuemax="100">Friendly
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_2_friendly}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_2_knowledgeable}}"
                                                 aria-valuenow="{{question_2_knowledgeable}}" aria-valuemin="0" aria-valuemax="100">Knowledgeable
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_2_knowledgeable}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width:{{question_2_helpful}}"
                                                 aria-valuenow="{{question_2_helpful}}" aria-valuemin="0" aria-valuemax="100">Helpful
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_2_helpful}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>What is your usual clothing size?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_6_small}}"
                                                 aria-valuenow="{{question_6_small}}" aria-valuemin="0" aria-valuemax="100">SMALL
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_6_small}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_6_medium}}"
                                                 aria-valuenow="{{question_6_medium}}" aria-valuemin="0" aria-valuemax="100">MEDIUM
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_6_medium}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_6_large}}"
                                                 aria-valuenow="{{question_6_large}}" aria-valuemin="0" aria-valuemax="100">LARGE
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_6_large}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_6_extra_large}}"
                                                 aria-valuenow="{{question_6_extra_large}}" aria-valuemin="0" aria-valuemax="100">EXTRA LARGE
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_6_extra_large}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_6_extra_extra_large}}"
                                                 aria-valuenow="{{question_6_extra_extra_large}}" aria-valuemin="0" aria-valuemax="100">EXTRA EXTRA LARGE
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_6_extra_extra_large}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>What Is Your Favourite Color To Wear?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_7_black}}"
                                                 aria-valuenow="{{question_7_black}}" aria-valuemin="0" aria-valuemax="100">BLACK
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_7_black}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_7_white}}"
                                                 aria-valuenow="{{question_7_white}}" aria-valuemin="0" aria-valuemax="100">WHITE
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_7_white}}</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{question_7_others}}"
                                                 aria-valuenow="{{question_7_others}}" aria-valuemin="0" aria-valuemax="100">OTHERS
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>{{question_7_others}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 text-center">
                                <form action="">
                                    <div class="w-100 text-center">
                                        <a class="btn btn-primary login-btn"
                                           href="{% url 'create_shop_user' %}">Create Shop User</a>
                                        <a class="btn btn-primary login-btn"
                                           href="{% url 'show_comments' %}">See Comments</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}