{% extends 'customer_survey_app/base.html' %}
{% load static %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="main-layout-bg">
    <!--    Toast Messages-->
    <div id="content">
        {% include 'customer_survey_app/messages.html' %}
    </div>

    <!--    Log Out-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'logout' %}" class="btn btn-primary log-out-btn" type="button">log out</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="loyalty-membership">

                    <div class="loyalty-title-flex">
                        <div class="title-box">
                            <h3>loyalty club membership form</h3>
                        </div>
                        <div class="logo-box">
                            <img src="{% static 'icon-images/rise 2.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="progress-main">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>Are You Pleased with the service you received?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>was your overall experience on-time & pleasant?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>i would recommend RISE to my friends & family</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>are you satisfied with the products?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>was your overall experience on-time & pleasant?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="progress-box">
                                    <h5>are you satisfied with the products?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-box">
                                    <h5>was your overall experience on-time & pleasant?</h5>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">yes
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                    <div class="custom-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%;"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">no
                                            </div>
                                        </div>
                                        <div class="progress-counter">
                                            <span>25%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 text-center">
                                <form action="">
                                    <div class="w-100 text-center">
                                        <a class="btn btn-primary login-btn"
                                           href="{% url 'create_shop_user' %}">Create Shop User</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}