{% extends 'customer_survey_app/base.html' %}
{% load static %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="main-layout-bg">

    <!--    Toast Messages-->
    <div id="content">
        {% include 'customer_survey_app/messages.html' %}
    </div>
    <!--    Log out-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'logout' %}" class="btn btn-primary log-out-btn" type="button">log out</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="loyalty-membership customer-feedback">

                    <div class="loyalty-title-flex">
                        <div class="title-box">
                            <h3>customer feedback</h3>
                        </div>
                        <div class="logo-box">
                            <img src="{% static 'icon-images/rise.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <form method="post" id="feedback_form" name="feedback_form"
                          enctype="multipart/form-data" onsubmit="return feedback_Form()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <level class="form-label d-block">1. Are You Pleased with the service you received?
                                </level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_1"
                                           id="question_1" value="True">
                                    <label class="form-check-label" for="question_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_1"
                                           id="question_1_n" value="False">
                                    <label class="form-check-label" for="question_1_n">No</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <level class="form-label d-block">2. our sales associates was . . .</level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_2"
                                           id="question_2" value="Friendly">
                                    <label class="form-check-label" for="question_2">Friendly</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_2"
                                           id="question_2_2" value="Knowledgeable">
                                    <label class="form-check-label" for="question_2_2">Knowledgeable</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_2"
                                           id="question_2_n" value="Helpful">
                                    <label class="form-check-label" for="question_2_n">Helpful</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <level class="form-label d-block">3. are you satisfied with the products?</level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_3"
                                           id="question_3" value="Slightly">
                                    <label class="form-check-label" for="question_3">Slightly</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_3"
                                           id="question_3_n_2" value="Moderate">
                                    <label class="form-check-label" for="question_3_n_2">Moderate</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_3"
                                           id="question_3_n" value="Strongly">
                                    <label class="form-check-label" for="question_3_n">Strongly</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <level class="form-label d-block">4. i would recommend RISE to my friends & family
                                </level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_4"
                                           id="question_4" value="True">
                                    <label class="form-check-label" for="question_4">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_4"
                                           id="question_4_n" value="False">
                                    <label class="form-check-label" for="question_4_n">No</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <level class="form-label d-block">5. was your overall experience on-time & pleasant?
                                </level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_5"
                                           id="question_5" value="True">
                                    <label class="form-check-label" for="question_5">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_5"
                                           id="question_5_n" value="False">
                                    <label class="form-check-label" for="question_5_n">No</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <level class="form-label d-block">6. what is your usual clothing size?</level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_6"
                                           id="question_6" value="Small">
                                    <label class="form-check-label" for="question_6">Small</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_6"
                                           id="question_5_m" value="Medium">
                                    <label class="form-check-label" for="question_5_m">Medium</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_6"
                                           id="question_5_l" value="Large">
                                    <label class="form-check-label" for="question_5_l">Large</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_6"
                                           id="question_5_e" value="Extra Large">
                                    <label class="form-check-label" for="question_5_e">Extra Large</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_6"
                                           id="question_5_e_e" value="Extra Extra Large">
                                    <label class="form-check-label" for="question_5_e_e">Extra Extra Large</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <level class="form-label d-block">7. what is your favourite color to wear?</level>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_7"
                                           id="question_5_b" value="Black">
                                    <label class="form-check-label" for="question_5_b">Black</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_7"
                                           id="question_5_w" value="White">
                                    <label class="form-check-label" for="question_5_w">White</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="question_7"
                                           id="question_5_o" value="Others">
                                    <label class="form-check-label" for="question_5_o">Others</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <level class="form-label d-block">8. what suggestion do you have for improving the
                                    product experience?
                                </level>
                                <input type="text" name="question_8" id="question_8" class="form-control"
                                       placeholder="">
                            </div>

                            <div class="col-12">
                                <level class="form-label d-block">9. please use the space provided for any
                                    comments/recommendations
                                </level>
                                <textarea name="address" class="form-control" placeholder="Please type . . . . . ."
                                          id="address"></textarea>
                            </div>
                        </div>

                        <div class="w-100 text-center">
                            <button class="btn btn-primary login-btn" name="button_submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function showWarningToasty(message) {
        Toastify({
            text: message,
            duration: 4000,
            close: true,
            backgroundColor: "#0000FF",
        }).showToast();
    }

    // Form Validation
    // function feedback_Form() {
    //     if (document.feedback_form.question_1.value === "") {
    //         showWarningToasty("Please Select Question 1!");
    //         document.feedback_form.question_1.focus();
    //         return false;
    //     } else if (document.feedback_form.question_2.value === "") {
    //         showWarningToasty("Please Select Question 2!");
    //         document.feedback_form.question_2.focus();
    //         return false;
    //     } else if (document.feedback_form.question_3.value === "") {
    //         showWarningToasty("Please Select Question 3!");
    //         document.feedback_form.question_3.focus();
    //         return false;
    //     } else if (document.feedback_form.question_4.value === "") {
    //         showWarningToasty("Please Select Question 4!");
    //         document.feedback_form.question_4.focus();
    //         return false;
    //     } else if (document.feedback_form.question_5.value === "") {
    //         showWarningToasty("Please Select Question 5!");
    //         document.feedback_form.question_5.focus();
    //         return false;
    //     } else if (document.feedback_form.question_6.value === "") {
    //         showWarningToasty("Please Select Question 6!");
    //         document.feedback_form.question_6.focus();
    //         return false;
    //     } else if (document.feedback_form.question_7.value === "") {
    //         showWarningToasty("Please Select Question 7!");
    //         document.feedback_form.question_7.focus();
    //         return false;
    //     }
    // }
</script>
{% endblock %}