{% extends 'customer_survey_app/base.html' %}
{% load static %}
{% block content %}

{% if toast_mes %}
<script>swal("{{toast_mes.toast_message}}");</script>
{% endif %}

<section class="main-layout-bg">

    <!--    Toast Messages-->
    <div id="content">
        {% include 'customer_survey_app/messages.html' %}
    </div>

    <!--    Log Out-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'logout' %}" class="btn btn-primary log-out-btn" type="button">log out</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="loyalty-membership">

                    <div class="loyalty-title-flex">
                        <div class="title-box">
                            <h3>loyalty club membership form</h3>
                        </div>
                        <div class="logo-box">
                            <img src="{% static 'icon-images/rise.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <form method="post" id="membership_form"
                          name="membership_form"
                          enctype="multipart/form-data" autocomplete="off" onsubmit="return membership_Form()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <label for="membership_no" class="form-label">to be field by store</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="membership_no" id="membership_no" class="form-control"
                                           placeholder="Membership No:"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="in_voice_no" id="in_voice_no" class="form-control"
                                           placeholder="Invoice No:"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <!--                                <div class="form-group">-->
                                <!--                                    <input type="text" name="category" id="category" class="form-control"-->
                                <!--                                           placeholder="Category:"-->
                                <!--                                           autocomplete="off">-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <select class="form-select form-control" name="category_id" id="category_id"
                                            aria-label="Default select example">
                                        <option selected disabled>Category:</option>
                                        {% for category in categories %}
                                        <option value="{{category.id}}">{{category.category_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="title" id="title" class="form-control" placeholder="Title:"
                                           autocomplete="off">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">to be field by customer</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control"
                                           placeholder="*First Name:"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control"
                                           placeholder="*Last Name:"
                                           autocomplete="off">
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="*Email Address:"
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="contact_no" id="contact_no" class="form-control"
                                           placeholder="*Contact No."
                                           autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="date_of_birth" id="date_of_birth" class="form-control"
                                           placeholder="*Date Of Birth"
                                           onfocus="(this.type='date')" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-select form-control" name="marital_status" id="marital_status"
                                            aria-label="Default select example">
                                        <option selected disabled>Marital Status:</option>
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Widowed">Widowed</option>
                                        <option value="Divorced">Divorced</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="address" placeholder="Address:"
                                          id="address"></textarea>
                            </div>
                        </div>
                        <div class="w-100 text-center">
                            <button class="btn btn-primary login-btn" name="button_submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function showWarningToasty(message) {
        Toastify({
            text: message,
            duration: 4000,
            close: true,
            backgroundColor: "#0000FF",
        }).showToast();
    }

    function membership_Form() {
        if (document.membership_form.first_name.value === "") {
            showWarningToasty("First Name is Empty!");
            document.membership_form.first_name.focus();
            return false;
        } else if (document.membership_form.last_name.value === "") {
            showWarningToasty("Last Name is Empty!");
            document.membership_form.last_name.focus();
            return false;
        } else if (document.membership_form.email.value === "") {
            showWarningToasty("Email is Empty!");
            document.membership_form.email.focus();
            return false;
        } else if (document.membership_form.contact_no.value === "") {
            showWarningToasty("Contact No is Empty!");
            document.membership_form.contact_no.focus();
            return false;
        } else if (document.membership_form.date_of_birth.value === "") {
            showWarningToasty("Date of Birth is Empty!");
            document.membership_form.date_of_birth.focus();
            return false;
        }
    }
</script>
{% endblock %}