{% extends 'customer_survey_app/base.html' %}
{% load static %}
{% block content %}
<section class="main-layout-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="login-box">
                    <h1 class="thanks">thank you </h1>
                    <p class="sincere">we sincerely appreciate your feedback </p>
                    <div class="footer-logo">
                        <img src="{% static 'icon-images/rise 2.png' %}" alt="" class="img-fluid">
                    </div>

                    <div class="w-100 text-center">
                        <a class="btn btn-primary login-btn"
                           href="{% url 'loylity_membership' %}">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}